@import './shared.less';

.field {
    &-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 0px 10px;
        padding-right: 10px;
    }
    &-row {
        width: 95%;
        height: @row-height;
        text-align: center;
        line-height: @row-height;
        flex-flow: row nowrap;
        .ant-col {
            border-radius: 4px;
        }
    }
    &-type {
        display: flex;
        overflow: hidden;
        .field-id {
            color: @text-color;
            border: 0;
            background-color: lighten(@workspace-bg-color, 5%);
            width: 40px;
            min-width: 40px;
            height: @row-height;
        }
        .auto-complete {
            display: block;
            width: 70%;
        }
    }
    &-lock {
        width: 30px;
        height: 31px;
        position: absolute;
        right: 0px;
    }
    &-example {
        background-color: @workspace-bg-color;
        margin-left: 10px;
    }
    &-placeholder {
        color: darken(@text-color, 40%) !important;
        background-color: transparent !important;
        .ant-btn-dashed {
            width: 100%;
            background-color: transparent;
            color: darken(@text-color, 40%);
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: @row-height;
        }
        &:nth-child(2) {
            margin-left: 10px;
        }
    }
}

.ant-select-dropdown {
    background-color: lighten(@workspace-bg-color, 10%);
    .ant-select-item-option{
        color: @text-color;
        &-selected {
            color: @text-color;
            background-color: @workspace-bg-color;
            &:before {
                position: absolute;
                top: 0px;
                left: 0px;
                content: '';
                border-left-width: 5px;
                border-left-style: solid;
                border-left-color: @contrast-color;
                height: 100%;
            }  
        }
        &-active {
            color: @text-color;
            background-color: @workspace-bg-color;
        }
    }
}

.ant-input {
    color: @text-color;
    border: 0;
    background-color: transparent;
    z-index: 10;
    height: @row-height;
}

.ant-input-group-addon:nth-child(2) {
    color: @text-color;
    border: 0;
    background-color: @workspace-bg-color;
    position: absolute;
    width: calc(100% + 30px);
    right: -30px;
    padding: 0;
    >.d-dropdown-btn {
        justify-content: flex-end;
        padding-right: 11px;
    }
}
