@import './shared.less';

.field {
    width: 60%;
    height: 100%;
    max-height: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    &-props {
        height: auto;
        max-height: @field-height;
        overflow: auto;
        position: relative;
        padding-right: 10px;
    }
    &-add-btn {
        width: calc(95% - 10px);
        margin-right: 10px;
        align-self: flex-end;
    }
}