@import './shared.less';

.d-menu {
    background-color: lighten(@workspace-bg-color, 10%) !important;
    max-height: 30vh;
    overflow: auto;
    border-radius: 4px;
    .ant-menu-item {
        color: @text-color;
    }
}

.selected {
    color: @text-color !important;
    font-weight: 600;
    background-color: @workspace-bg-color !important;
    &:before {
        position: absolute;
        left: 0px;
        content: '';
        border-left-width: 5px;
        border-left-style: solid;
        border-left-color: @contrast-color;
        height: 100%;
    }
}
