@import './shared.less';

#container {
	&-main {
		min-width: 900px;
		width: calc(100vw - 180px);
		max-width: 1600px;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-left: 20px;
	}
	&-workspace {
		width: 100%;
		height: calc(100% - 50px - 25px);
		max-height: calc(100% - 50px - 25px);
		display: flex;
		flex-direction: row;
	}
}

#container-main {
	.heading {
		min-height: 50px;
		font-weight: bold;
		font-size: 2rem;
		margin-bottom: 20px;
	}
	.footer {
		min-height: 25px;
		margin-top: 10px;
		color: @workspace-bg-color;
		text-align: center;
	}
	.reserved-area {
		height: @row-height;
	}
}
