@bg-color: #2C2C2C;
@text-color: #FFFFFF;
@btn-hover-color: #47A5EE;
@contrast-color: #D89269;
@workspace-bg-color: #666666;
@row-height: 32px;
@field-height: calc(100vh - 40px - 70px - 30px - 2 * @row-height);

.d-btn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: @row-height;
	font-size: 1rem;
    color: @text-color;
}