@import './shared.less';

.template {
    width: 40%;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
    .highlighted {
        background-color: #FFFFFF;
    }
    &-row {
        width: 100%;
        display: flex;
        flex-direction: row;
        &:nth-child(2){
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            overflow: hidden;
        }
    }
    &-column-options {
        display: flex;
        flex-direction: column;
        background-color: lighten(@workspace-bg-color, 5%);
        // width: 15%;
        // min-width: 50px;
        padding: 5px 15px;
    }
    &-icon {
        width: 50px;
        height: 50px;
    }
    #template-field {
        height: @field-height;
        max-height: @field-height;
        background-color: @workspace-bg-color;
        padding: 10px 20px;
        color: @text-color;
        font-size: 1rem;
        border: 0px;
        border-radius: 0;
        resize: none;
    }
    #symbol-btn, #format-btn, #qty-btn, #output-btn {
        width: 100%;
        height: 80px;
        font-weight: bold;
        font-size: 1.4rem;
    }
    #gen-btn {
        .d-btn();
        width: 100%;
        font-weight: bold;
        background-color: @primary-color;
        border: 0;
        &:disabled {
            color: darken(@text-color, 20%);
            background-color: darken(@primary-color, 10%);
        }
    }
}
