@import './styles/shared.less';

html, #root {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	color: @text-color;
	background-color: @bg-color;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.App {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 20px 0px;
	overflow: auto;
}

#container {
	&-ads {
		min-width: 320px;
		width: 320px;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		overflow: auto;
		.ads {
			line-height: 250px;
			text-align: center;
			vertical-align: middle;
			border: 1px solid @text-color;
		}
	}
}

